<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container bg-secondary p-3" style="height:100vh">
        <div class="container p-4 bg-dark">
            <h2 class="display-4 text-white">CALCULADORA</h2>
            <hr>
            <form class="text-white" action="" method="POST">
                <input type="number" placeholder="Digite um numero" name="n1" class="form-control my-3">
                <input type="number" placeholder="Digite um numero" name="n2" class="form-control my-3">

                <input type="radio" name="option" value="soma" id="soma">
                <label for="soma">Somar</label>

                <input type="radio" name="option" value="subtracao" id="subtracao">
                <label for="subtracao">Subtrair</label>

                <input type="radio" name="option" value="multiplicacao" id="multiplicacao">
                <label for="multiplicacao">Multiplicar</label>

                <input type="radio" name="option" value="divisao" id="divisao">
                <label for="divisao">Dividir</label>
                <br><br>
                <button class="btn btn-primary">Calcular</button>
                <button class="btn btn-secondary" type="reset">Cancelar</button>
            </form>
        </div>

    </div>
</body>
</html>